@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  color: #fff;
  display: flex;
  padding: 100px 80px 173px;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.about__title {
  max-width: 251px;
  margin: 0;
  font-family: "Inter", "arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  margin: 19px 0 0 auto;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph {
  margin: 0;
}

.about__circle {
  height: 426px;
  width: 426px;
  background-color: #1878dc;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -1;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
